nav[role=navigation],
nav[role=navigation] ul,
nav[role=navigation] ul li,
nav[role=navigation] ul li a {
    display: block;
    margin: 0px;
    padding: 0px;
    list-style-position: outside;
    list-style-type: none;
}
nav[role=navigation] ul{
    height:55px;
}

nav[role=navigation] ul li,
nav[role=navigation] ul li a,
nav[role=navigation] ul li a:hover {
    display: table-cell;
    box-sizing: padding-box;
    text-align: center;
    vertical-align: middle;
    height: 45px;
    background-color: gainsboro;
    text-decoration: none;
    color: black;
}

nav[role=navigation] ul li.active,
nav[role=navigation] ul li.active a,
nav[role=navigation] ul li.active a:hover {
    background-color: white;
    font-weight: bold;
}

nav[role=navigation] ul li {
    float: left;
}

nav[role=navigation] ul li:last-child {
    margin-right: 0px;
}

.tabSection {
    display: none;
}

.tabSection.active {
    display: block;
}
.hide nav[role=navigation]{
    display:none;
}

@media (max-width: 420px) , (max-height: 520px)  {
    nav[role=navigation] ul li,
    nav[role=navigation] ul li a {
        width: 32%;
    }

    nav[role=navigation] ul li {
        margin-right: 2%;
    }
}

@media (min-width: 420px) and (min-height: 520px) {
    nav[role=navigation] ul li,
    nav[role=navigation] ul li a {
        width: 130px;
    }

    nav[role=navigation] ul li {
        margin-right: 5px;
    }
}
